.page {
    height: calc(100% - var(--app-bar-height));
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--dark);
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;

    height: 100%;
    width: 100%;
}

.gradient-wrapper {
    height: 100%;
    width: 100%;

    margin: 0.1rem;
}

@media screen and (min-width: 700px) {
    .page {
        background: #232526; /* fallback for old browsers */
        background: -webkit-linear-gradient(
            to bottom right,
            #414345,
            #232526
        ); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(
            to bottom right,
            #414345,
            #232526
        ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

    .container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;

        border-radius: 0.5rem;

        background-color: var(--darker);
    }

    .gradient-wrapper {
        width: 700px;
        height: 400px;

        padding: 0.1rem;

        border-radius: 0.5rem;

        background-image: var(--primary);
        background-image: var(--primary-webkit);
        background-image: var(--primary-gradient);
    }
}

@media screen and (max-height: 450px) {
    .gradient-wrapper {
        height: 300px;
    }
}
